/*------------------------------------
    Header
------------------------------------*/

.app-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    color: $base-1;
    z-index: 999;
    position: absolute;
    .header-logo {
        top: 21px;
        left: 15px;
        width: 60px;   
        position: absolute;
        display: inline-block; 
    }
    .header-menu {
        float: left;
        list-style: none;
        padding: 0;
        padding-left: 90px;
        margin: 0;
        li {
            font-size: 14px;
            font-weight: 500;
            display: inline-block;
            margin-right: 30px;
            a {
                display: block;
                padding-top: 45px;
            }
        }
    }
    .button {
        top: 33px;
        position: relative;
    }
}
