        <!--Big Title-->
        <header class="el-heading el-heading-2">
            <h2 class="el-big-title">
                <div>
                    <div>
                        <span>${props.t1}</span>
                        <span>${props.t2}</span>
                        <span>${props.t3}</span>
                    </div>
                    <div>
                        <span>${props.t1}</span>
                        <span>${props.t2}</span>
                        <span>${props.t3}</span>
                    </div>
                    <div>
                        <span>${props.t1}</span>
                        <span>${props.t2}</span>
                        <span>${props.t3}</span>
                    </div>
                    <div>
                        <span>${props.t1}</span>
                        <span>${props.t2}</span>
                        <span>${props.t3}</span>
                    </div>
                </div>
            </h2>
        </header>
        <!--/-->