<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Overpass</title>
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="${props.base}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,900&display=swap">
    <link rel="stylesheet" href="assets/css/plugins.min.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="stylesheet" href="assets/css/rtl.css" />
</head>

<body class="no-scroll-bar">