/*------------------------------------
Reset
------------------------------------*/

.el-form {
    input {
        @include placeholder () {
            color: $text-color;
            font-size: 16px;
            line-height: 1.5;
            font-weight: 300;
        }
    }
}