<footer class="app-footer app-footer-1">
    <div class="el-shape">
        <div class="circle circle-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 188.53 188.53">
                <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                        <path class="cls-1" d="M0,0V188.53H188.53C188.53,84.41,104.12,0,0,0Z" />
                    </g>
                </g>
            </svg>
        </div>
        <div class="circle circle-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 188.53 188.53">
                <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                        <path class="cls-1" d="M0,0V188.53H188.53C188.53,84.41,104.12,0,0,0Z" />
                    </g>
                </g>
            </svg>
        </div>
    </div>
    <!--Footer Widgets-->
    <div class="footer-widgets">
        <div class="pt-space">
            <div class="container">
                <div class="row row-0 row-eq-height">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                        <a href="#" class="footer-logo">
                            <span class="icon">
                                <svg width="51" height="51" viewBox="0 0 51 51" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.4964 0C39.5826 0 50.9927 11.4144 50.9927 25.4897C50.9927 39.5724 39.5754 50.9795 25.4964 50.9795C11.4174 50.9868 0 39.5724 0 25.4897C0 11.4144 11.4174 0 25.4964 0ZM12.8427 28.2888C12.8427 35.2756 18.5078 40.9464 25.5036 40.9464C32.4922 40.9464 38.1646 35.2829 38.1646 28.2888C38.1573 28.2888 28.638 28.2888 12.8427 28.2888Z"></path>
                                </svg>
                            </span>
                            <span class="text">OVERPASS</span>
                        </a>
                    </div>
                    <div class="col-7 col-sm-6 col-md-4 col-lg-3 offset-lg-1">
                        <div class="el-widget el-widget-links">
                            <div class="el-widget-head">
                                <h3>Industries</h3>
                            </div>
                            <div class="el-widget-body">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="text">Finance</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="text">Real Estate</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="text">Marketplace</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-widget el-widget-links">
                            <div class="el-widget-head">
                                <h3>Company</h3>
                            </div>
                            <div class="el-widget-body">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="text">About Us</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="text">Careers</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="text">Blog</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 col-sm-6 col-md-4 col-lg-3">
                        <div class="el-widget el-widget-links">
                            <div class="el-widget-head">
                                <h3>Resources</h3>
                            </div>
                            <div class="el-widget-body">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="text">Terms of Service</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="text">Privacy Policy</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="text">Blog</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-widget el-widget-links">
                            <div class="el-widget-head">
                                <h3>Expolre</h3>
                            </div>
                            <div class="el-widget-body">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="text">Marketplace</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="text">Campaigns</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="text">Pricing</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-2">
                        <div class="el-widget el-widget-welcome">
                            <div class="el-widget-head">
                                <h3>Welcome</h3>
                            </div>
                            <div class="el-widget-body">
                                <p>Your next job opportunities awaits for you</p>
                                <a href="#" class="button button-lg button-radius button-dark">
                                    <span class="text">LEARN MORE</span>
                                </a>
                            </div>
                        </div>
                        <div class="el-widget el-widget-support">
                            <div class="el-widget-head">
                                <h3>Support</h3>
                            </div>
                            <div class="el-widget-body">
                                <p>Check out our<br /><a href=""><span class="text">Help Center</span></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/-->
    </div>
    <!--/-->
    <!--Footer Copyright-->
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <ul class="el-social-links">
                        <li>
                            <a href="#">
                                <span class="ti-twitter-alt"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="ti-vimeo-alt"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="ti-sharethis"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="ti-tumblr-alt"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 text-right">
                    <p>© Overpass 2020</p>
                </div>
            </div>
        </div>
    </div>
    <!--/-->
</footer>
${require('./_html.html')}