/*------------------------------------
    Section: Common
------------------------------------*/

.section {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    .section-shape {
        z-index: -1;
        &.shape-1 {
            top: -6%;
            left: -1%;
            width: 400px;
            position: absolute;
        }
        &.shape-2 {
            top: -30%;
            right: 0;
            width: 400px;
            opacity: 0.3;
            position: absolute;
        }
        &.shape-3 {
            top: 0;
            left: 0;
            width: 50%;
            position: absolute;
        }
    }
    &.section-wave {
        &.section-wave-1 {
            &:after {
                right: 0;
                bottom: -54px;
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-1.png") bottom center / cover;
            }
        }
        &.section-wave-2 {
            &:after {
                right: 0;
                bottom: -93px;
                width: 100%;
                height: 160px;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-2.png") bottom center / cover;
            }
        }
        &.section-wave-3 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 45%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-3.png") bottom center / cover;
            }
        }
        &.section-wave-4 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 45%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-4.png") bottom center / cover;
            }
        }
        &.section-wave-5 {
            &:after {
                right: 0;
                bottom: -45px;
                width: 100%;
                height: 45%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-5.png") bottom center / cover;
            }
        }
        &.section-wave-6 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 30px;
                content: "";
                position: absolute;
                background: repeat-x url("../images/shapes/wave-6.png") bottom center / contain;
            }
        }
        &.section-wave-7 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                height: 15px;
                content: "";
                position: absolute;
                background: repeat-x url("../images/shapes/wave-7.png") bottom center / contain;
            }
        }
        &.section-wave-8 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                background: repeat-x url("../images/shapes/wave-8.png") bottom center / contain;
            }
        }
        &.section-wave-9 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-9.svg") bottom center / contain;
            }
        }
        &.section-wave-10 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                background: repeat-x url("../images/shapes/wave-10.png") bottom center / contain;
            }
        }
        &.section-wave-11 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 30px;
                content: "";
                position: absolute;
                background: repeat-x url("../images/shapes/wave-11.png") bottom center / contain;
            }
        }
    }
}

/*------------------------------------
    Section: About
------------------------------------*/

.section-about {
    .item {
        color: $base-0;
        text-align: center;
        position: relative;
        h3 {
            color: inherit;
        }
        .numbers {
            font-size: 30px;
            font-weight: 500;
        }
    }
}
@media (max-width: 992px) {
    .custom-table {
        padding-top: 0 !important;
    }
}
@media (max-width: 768px) {
    .section-about {
        .item {
            h3 {
                font-size: 12px;
            }
            .numbers {
                font-size: 18px;
            }
        }
        .row-custom {
            margin-left: -6px !important;
            margin-right: -6px !important;
            margin-bottom: -12px !important;
            & > * {
                padding-left: 6px !important;
                padding-right: 6px !important;
                margin-bottom: 12px !important;
            }
        }
    }
}

/*------------------------------------
    Section: Page Scroller
------------------------------------*/

.section-page-scroller {
    height: 100vh;
    overflow: hidden;
}
