/*------------------------------------
    Section: Hero
------------------------------------*/

.section-hero {
    z-index: 1;
    height: 100vh;
    overflow: hidden;
    position: relative;
    .hero-right {
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        position: absolute;
        background-color: $primary;
        .el-shape {
            top: 0;
            right: 0;
            left: calc(1.25 * var(--vw));
            z-index: 0;
            width: 34.93056vw;
            width: calc(34.93056 * var(--vw));
            height: 35.55556vw;
            height: calc(35.55556 * var(--vw));
            display: block;
            position: absolute;
            transform: translate(-50%, -56%);
            pointer-events: none;
            background-color: $secondary;
        }
    }
    .hero-slider {
        .el-item {
            height: 100vh;
            overflow: hidden;
            position: relative;
        }
    }
}
