/*------------------------------------
    Section: Portfolio
------------------------------------*/

.section-portfolio {
    .swiper-container {
        overflow: initial !important;
    }
    .item {
        padding-top: 66%;
        background-color: $gray;
    }
}
.el-swiper-portfolio-3 {
    .item {
        padding-top: 66%;
    }
}

.section-portfolio {
    &.section-portfolio-2 {
        background-color: $primary-1;
        .el-shape {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;
            position: absolute;
            .circle {
                &.circle-1 {
                    top: -50%;
                    left: -50%;
                    width: 100%;
                    fill: $primary;
                    position: absolute;
                }
                &.circle-2 {
                    right: -50%;
                    bottom: -50%;
                    width: 100%;
                    fill: $secondary;
                    position: absolute;
                }
            }
        }
        .el-item {
            padding-top: 30%;
            background-color: $base-0;
        }
    }
}
.section-portfolio {
    &.section-portfolio-3 {
        .el-shape {
            top: 0;
            left: calc(29.16667 * var(--vw));
            left: 29.16667vw;
            left: calc(50vw - 20.83333 * var(--vw));
            right: 0;
            bottom: 0;
            overflow: hidden;
            position: absolute;
            background-color: $primary-1;
            .circle-1 {
                top: -90%;
                right: -60%;
                width: 123%;
                fill: $primary;
                position: absolute;
            }
        }
    }
}

.section-portfolio {
    &.section-portfolio-4 {
        background-color: $primary;
        .item {
            padding-top: 120%;
        }
        .el-shape {
            top: 0;
            left: calc(29.16667 * var(--vw));
            left: 29.16667vw;
            left: calc(50vw - 20.83333 * var(--vw));
            right: 0;
            bottom: 0;
            overflow: hidden;
            position: absolute;
            background-color: $primary-1;
            .circle-2 {
                left: -20%;
                bottom: -40%;
                width: 60%;
                fill: $secondary;
                position: absolute;
            }
        }
    }
}

.section-portfolio {
    &.section-portfolio-5 {
        .item {
            padding-top: 120%;
        }
        .el-shape {
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 100px);
            overflow: hidden;
            position: absolute;
            background-color: $primary-1;
            .circle-3 {
                top: 30%;
                right: -25%;
                width: 50%;
                fill: $secondary;
                position: absolute;
            }
        }
        .el-heading {
            width: 100% !important;
            h2 {
                font-size: $h1;
            }
        }
    }
}

@media (max-width: 992px) {
    .section-portfolio {
        .el-heading {
            .button {
                display: none;
            }
        }
        &.section-portfolio-2 {
            .container {
                overflow: initial !important;
            }
        }
        &.section-portfolio-3 {
            .el-shape {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                position: absolute;
                background-color: $primary-1;
                .circle-1 {
                    top: 0;
                    right: -60%;
                    width: 123%;
                    fill: $primary;
                    position: absolute;
                }
            }
            .el-heading {
                h3 {
                    top: -4px;
                    color: $base-0;
                    font-size: 16px;
                    position: relative;
                }
                .button {
                    display: none;
                }
                .el-slider-nav {
                    left: inherit;
                    right: 0;
                }
            }
        }
    }
}
