/*------------------------------------
    Section: Portfolio
------------------------------------*/

.el-swiper-portfolio-3 {
    overflow: initial !important;
    .item {
        padding-top: 66%;
        background-color: $gray;
    }
}