/*------------------------------------
    Section: Posts/Blog
------------------------------------*/
/*------------------------------------
    Element: Featured Posts
------------------------------------*/

.el-featured-posts {
    z-index: 18;
    overflow: hidden;
    position: relative;
    .post {
        width: 100%;
        overflow: hidden;
        position: relative;
        border-radius: $default-br;
        margin-bottom: 18px;
        background-color: $base-1;
        box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25) !important;
        .post-image {
            overflow: hidden;
            position: relative;
            padding-top: 60%;
            transition: all 0.45s;
            img {
                top: 0;
                right: 0;
                width: 100%;
                height: auto;
                position: absolute;
            }
            &:after {
                top: 39%;
                right: 0;
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 75%);
            }
        }
        .post-details {
            left: 0;
            bottom: -60px;
            padding: 15px 30px;
            position: absolute;
            transition: all 0.45s;
            p {
                color: #ccc;
            }
            h1,
            h2,
            h3 {
                color: $base-0;
                line-height: 1.5;
                font-size: 21px;
                padding-top: 15px;
            }
            .button {
                padding-left: 0;
            }
            .post-details-footer {
                padding-top: 30px;
                transition: all 0.45s;
                .author {
                    float: left;
                    color: $base-0;
                    opacity: 0.75;
                    font-size: 12px;
                    font-weight: bold;
                    position: relative;
                    padding-top: 8px;
                    padding-left: 45px;
                    margin-right: 15px;
                    img {
                        top: 0;
                        left: 0;
                        width: 36px;
                        height: 36px;
                        position: absolute;
                        border-radius: 50%;
                        border: 2px solid $primary;
                    }
                }
                .button {
                    margin-top: 14px !important;
                }
            }
        }
        &:hover {
            .post-image {
                opacity: 0.6;
            }
            .post-details {
                bottom: 0;
                .post-details-footer {
                    padding-top: 0;
                }
            }
        }
        &.post-side {
            .post-image {
                padding-top: 59%;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .el-featured-posts {
        .post {
            &.post-side {
                .post-details {
                    h2,
                    h3 {
                        font-size: 16px !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .el-featured-posts {
        .post {
            .post-details {
                p {
                    display: none !important;
                }
                h1,
                h2 {
                    font-size: 18px !important;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .el-featured-posts {
        .post {
            .post-details {
                padding: 9px;
                h1,
                h2 {
                    font-size: 14px !important;
                }
            }
        }
    }
}

/*------------------------------------
    Element: Single Post
------------------------------------*/

.section-single-post {
    .single-post {
        p {
            text-align: justify;
        }
        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }
        .image {
            overflow: hidden;
            padding-top: 57%;
            position: relative;
            margin-bottom: 20px;
            img {
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                position: absolute;
            }
        }
    }
    .image-large {
        overflow: hidden;
        padding-top: 57%;
        position: relative;
        margin-bottom: 20px;
        img {
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            position: absolute;
        }
    }
}

@media (max-width: 768px) {
    .section-single-post {
        .single-post {
            p {
                text-align: justify;
            }
            h1 {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }
    }
}

// Card-Blog
.el-card-blog {
    &.el-card-blog-1 {
        border: 1px solid $gray;
        background-color: $base-0;
        .image {
            overflow: hidden;
            position: relative;
            padding-top: 60%;
            img {
                top: 20px;
                left: 20px;
                right: 20px;
                bottom: 0;
                width: inherit;
                height: inherit;
                max-width: calc(100% - 40px);
                position: absolute;
            }
        }
        .details {
            padding: 20px;
            text-align: left;
            & > p {
                height: 81px;
                overflow: hidden;
                text-align: left;
                margin-bottom: 0;
            }
            h3 {
                height: 51px;
                font-size: 18px;
                line-height: 1.5;
                text-align: left;
                overflow: hidden;
                margin-bottom: 20px;
            }
            .author {
                position: relative;
                padding-left: 54px;
                p {
                    font-size: 14px;
                }
                h4 {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1;
                    margin-bottom: 3px;
                }
                img {
                    top: 0;
                    left: 0;
                    width: 39px;
                    height: 39px;
                    position: absolute;
                    border-radius: 50%;
                }
            }
            .el-divider {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .el-card-blog {
        &.el-card-blog-1 {
            border: 1px solid $gray;
            background-color: $base-0;
            .image {
                overflow: hidden;
                position: relative;
                padding-top: 60%;
                img {
                    top: 20px;
                    left: 20px;
                    right: 20px;
                    bottom: 0;
                    width: inherit;
                    height: inherit;
                    max-width: calc(100% - 40px);
                    position: absolute;
                }
            }
            .details {
                & > p {
                    height: inherit;
                }
                h3 {
                    height: inherit;
                }
            }
        }
    }
}

.section-blog-1 {
    .row {
        overflow: hidden;
    }
    .el-card-blog {
        &.el-card-blog-1 {
            border: 0;
            outline: 1px solid $gray;
            border-radius: 0;
            box-shadow: none;
            .details {
                padding-bottom: 6px;
            }
        }
    }
}

/*------------------------------------
    Element: Single Post
------------------------------------*/

.el-single-post {
    .el-single-post-head {
        padding: 0 0 45px;
        h1 {
            font-size: 36px;
            margin-bottom: 30px;
        }
        .button {
            margin-bottom: 30px;
        }
    }
    .el-single-post-image {
        overflow: hidden;
        position: relative;
        padding-top: 60%;
        margin-bottom: 30px;
        box-shadow: $default-bs;
        border-radius: $default-br;
        img {
            top: 0;
            left: 0;
            width: 100%;
            position: absolute;
        }
    }
    .el-single-post-details {
        p {
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
        img {
            display: block;
            margin-bottom: 30px;
            border-radius: $default-br;
        }
    }
}
