/*------------------------------------
    Section: Testimonials
------------------------------------*/

.section-quotes {
    .item {
        float: right;
        max-width: 768px;
        margin-right: 5.7%;
        p {
            color: $base-1;
            font-size: $h4;
            margin-bottom: $space/2;
        }
        .author-info {
            span {
                color: $base-1;
                font-weight: 700;
            }
        }
    }
    .el-slider-nav {
        top: 0;
        left: 0;
        position: relative;
    }
}

@media (max-width: 992px) {
    .section-quotes {
        .item {
            max-width: 75%;
            margin-right: 5.7%;
            p {
                font-size: 12px;
                margin-bottom: 30px;
            }
            .author-info {
                font-size: 12px;
            }
        }
        .el-heading {
            padding-top: 0 !important;
            margin-bottom: 50px;
        }
        .swiper-wrapper {
            margin-bottom: 0 !important;
        }
        .el-slider-nav {
            top: 0 !important;
            left: -15px !important;
        }
        .el-slider-pagination {
            display: none;
        }
    }
}
