/*------------------------------------
    Section: Testimonials
------------------------------------*/

.section-quotes {
    .item {
        float: right;
        max-width: 768px;
        margin-right: 5.7%;
        p {
            color: $base-1;
            font-size: $h4;
            margin-bottom: $space/2;
        }
        .author-info {
            span {
                color: $base-1;
                font-weight: 700;
            }
        }
    }
    .el-slider-nav {
        top: 0;
        left: 0;
        position: relative;
    }
}
